--201605_宋立恒_51cto_tsql_11_table型態的變數_2008
/*
使用自定义表类型（SQL Server 2008） 
在 SQL Server 2008 中，用户定义表类型是指用户所定义的表示表结构
定义的类型。您可以使用用户定义表类型为存储过程或函数声明表值参数，
或者声明您要在批处理中或在存储过程或函数的主体中使用的表变量。
若要创建用户定义表类型，请使用 CREATE TYPE 语句。
创建表值类型
*/
-- 创建和使用自定义表类型
USE master
GO
-- 创建测试数据库
CREATE DATABASE demo
GO 
-- 创建一个表
USE demo
GO 
CREATE TABLE Customers
(
    Id int NOT NULL, 
    Name char(10) NULL, 
    PRIMARY KEY (Id)
)
GO
-- 创建自定义表类型
CREATE TYPE dbo.CustomerTable AS TABLE 
(
    Id       int NOT NULL, 
    Name     char(10) NULL, 
    PRIMARY  KEY (Id)
)
GO 
-- 直接使用自定义表类型
DECLARE @c CustomerTable
INSERT INTO @c VALUES(1,'Xizhang')
SELECT * FROM @c 
-- 在存储过程中使用自定义表类型
CREATE PROC GetCustomers
(
@c CustomerTable READONLY
)
AS
begin 
   INSERT Customers SELECT * FROM @c 
end 
go 
--将传过来的参数（其实是一个表）的数据插入到Customers表里面去 
--调用该存储过程，一次性插入4行数据
DECLARE @temp CustomerTable
INSERT INTO @temp VALUES(7,'Xizhang')
INSERT INTO @temp VALUES(2,'Xizhang')
INSERT INTO @temp VALUES(3,'Xizhang')
EXEC GetCustomers @c=@temp
SELECT * FROM Customers 
GO 