--201605_宋立恒_51cto_tsql_13_有別於遞歸的多層次hierarchy_2008
/*SQL Server 2008中的hierarchyid 
这也是SQL Server 2008的一个重要新增特性。
主要解决的问题是拥有层次关系的表格。
例如我们日常生活中用到最多的组织结构图。
我们一般会用一个Employees表保存员工数据，
而每个员工则又可能会有相应的上级。
以前要得到某个员工的所有上级，或者所有下级，通常所采取的方法都是递归。
SQL Server 2005开始支持的CTE从一定程序上方便了该工作的实现。 
但SQL 2008的hierarchyid让这个工作更加简化和直接。
而该类型其实是一个CLR自定义数据类型。一般我们使用的时候，如下面的例子 
*/
--DROP TABLE Employees
CREATE TABLE Employees
(  Org_Id       hierarchyid NOT NULL,
    EmployeeId   INT         NOT NULL,
    EmployeeName VARCHAR(50) NOT NULL,
    Title        VARCHAR(50) NOT NULL )

--插入一些员工,注意第一个列的格式，必须用/开始和结束。这是一个路径的符号。
--这是一个关键
INSERT INTO dbo.Employees VALUES('/'      ,20001,'莊玉成','高明 CEO');
INSERT INTO dbo.Employees VALUES('/1/'    ,20002,'湯國奇','PB   CTO');
INSERT INTO dbo.Employees VALUES('/1/1/'  ,20003,'蘇明君','PBIT Manager');
--查看所有的员工及其级别
SELECT Org_Id.GetLevel() AS Level, EmployeeId AS employeeid, 
SPACE(Org_Id.GetLevel()*4)+EmployeeName AS employeeName, Title  
FROM Employees 
--查看湯國奇的所有下属
DECLARE @BOSS hierarchyid
SELECT  @BOSS=Org_Id FROM Employees WHERE EmployeeID=20002
SELECT *,Org_Id.GetLevel()AS Level FROM Employees 
WHERE Org_Id.IsDescendantOf(@BOSS)=1 
--查看莊家閔的所有上級
DECLARE @Employee hierarchyid
SELECT @Employee=Org_Id FROM Employees WHERE EmployeeID=20004
SELECT *,Org_Id.GetLevel()AS Level FROM Employees 
WHERE @Employee.IsDescendantOf(Org_Id)=1 
/*与hierarchyid有关的一些函数主要有 
GetAncestor    ：取得某一个级别的祖先
GetDescendant  ：取得某一个级别的子代
GetLevel       ：取得级别
?GetRoot       ：取得根
IsDescendantOf ：判断某个节点是否为某个节点的子代
Parse          ：将字符串转换为hierarchyid。该字符串的格式通常都是/1/这样的
Read           ：从传入的 BinaryReader 读取 SqlHierarchyId 的二进制表示形式，
并将 SqlHierarchyId 对象设置为该值。不能使用 Transact-SQL 调用 Read。
请改为使用 CAST 或 CONVERT。 
?GetReparentedValue：可以用来移动节点（或者子树）
?ToString          ：将hierarchyid转换为字符串，与parse正好相反
Write              ：将SqlHierarchyId 的二进制表示形式写出到传入的BinaryWriter 中。
无法通过使用 Transact-SQL 来调用 Write。请改为使用 CAST 或 CONVERT。
*/