201605_宋立恒_51cto_tsql_07_排名分頁的四個函數_2008
CREATE TABLE Student ( StudentID int,ClassID int, Mark int )
--接下来插入示例数据
INSERT INTO Student VALUES(1,1,90);INSERT INTO Student VALUES(1,2,90);
INSERT INTO Student VALUES(2,2,82);INSERT INTO Student VALUES(2,1,84);
INSERT INTO Student VALUES(3,1,80);INSERT INTO Student VALUES(3,2,80);
--使用RANK()函数排序
SELECT *
    ,RANK() OVER(		--使用RANK函数进行排名
    PARTITION BY ClassID --使用ClassID进行分组
    ORDER BY Mark DESC) AS [Rank]	--使用Mark进行排序
FROM Student
--使用DENSE_RANK函数进行排名
SELECT *
    ,DENSE_RANK() --使用DENSE_RANK()函数进行排名
    OVER(PARTITION BY ClassID 	--使用ClassID进行分组
    ORDER BY Mark DESC) AS [Rank]	--依据Mark列排序
FROM Student

使用NTILE()函数进行分组
SELECT *
    ,NTILE(3) OVER(ORDER BY Mark DESC) AS NewClass
    ,CASE NTILE(3) OVER(ORDER BY mark DESC)
     WHEN 1 THEN 'High'
     WHEN 2 THEN 'Medium'
     WHEN 3 THEN 'Low'
     END AS scorecategory    
FROM Student

StudentID   ClassID     Mark        NewClass    scorecategory
----------- ----------- ----------- -------------------------
5           1           90          1           High
5           2           90          1           High
1           1           90          1           High
1           2           90          1           High
7           1           89          1           High
7           2           89          2           Medium
2           1           84          2           Medium
2           2           82          2           Medium
3           1           80          2           Medium
3           2           80          2           Medium
4           1           80          3           Low
4           2           80          3           Low
6           1           76          3           Low
6           2           75          3           Low
使用ROW_NUMBER()函数获得排名
SELECT *
    ,ROW_NUMBER ( )  OVER(ORDER BY Mark DESC) AS OrderID
FROM Student
--ROW_NUMBER是结果集的顺序, 而不是数据库中纪录存放的原始顺序

