--201605_宋立恒_51cto_tsql_06_CTE公用表達式_2008
/*
通用表表达式（CTE）是一个可以由定义语句引用的临时表命名的结果集。
在他们的简单形式中，您可以将CTE视为类似于视图和派生表混合功能的改进版本。
在查询的FROM子句中引用CTE的方式类似于引用派生表和视图的方式。只须定义CTE一次，
即可在查询中多次引用它。在CTE的定义中，可以引用在同一批处理中定义的变量。
但是CTE的真正威力在于它们的递归功能，即CTE可以包含对它们自身的引用。 
*/
WITH wshCTE(wsno,wsdate,cnt)
AS
(
SELECT wsno , wsdate,count(*)
FROM wsh 
where SUBSTRING(wsdate,1,6)='201604'
GROUP BY wsno,wsdate
)
SELECT * FROM wyd where wsno in ( select wsno from  wshCTE)
---------------------------------------
WITH bmxCTE( partno, bmno , level , sortcol )
AS
( 
  -- Anchor Member (AM)
  SELECT  bmno partno,bmno,0,rtrim(ltrim(CONVERT(nvarchar(128), bmno )))
  FROM bmh 
  WHERE bmno='SN51004764'
  UNION ALL
  -- Recursive Member (RM)
  SELECT d.partno , d.bmno , x.level+1 ,  
  rtrim(ltrim(CONVERT(nvarchar(128), x.sortcol+'-'+
  rtrim(ltrim(convert(nvarchar(128), d.partno)) ))))
  FROM bmd AS d JOIN bmxCTE  AS x ON d.bmno = x.partno
)
SELECT  
ROW_NUMBER() over ( order by sortcol) as counter ,
partno,
level,
rtrim(sortcol) as sortcol 
FROM bmxCTE 
order by sortcol 
---------------------------------------------------------------------------- 
counter partno        level       sortcol
-----------------------------------------------------------------------------
1       SN51004764    0           SN51004764
2       A000000152    1           SN51004764-A000000152
3       RZINC00001    2           SN51004764-A000000152-RZINC00001
4       A000000250    1           SN51004764-A000000250
5       A000000251    2           SN51004764-A000000250-A000000251
6       RZINC00001    3           SN51004764-A000000250-A000000251-RZINC00001
7       A000000710    1           SN51004764-A000000710
8       A000000148    2           SN51004764-A000000710-A000000148
9       RZINC00001    3           SN51004764-A000000710-A000000148-RZINC00001
10      A000000420    2           SN51004764-A000000710-A000000420
11      RZINC00001    3           SN51004764-A000000710-A000000420-RZINC00001
12      BN51000051    1           SN51004764-BN51000051
13      BN51000056    2           SN51004764-BN51000051-BN51000056
14      RZINC00001    3           SN51004764-BN51000051-BN51000056-RZINC00001
-----------------------------------------------------------------------------
