--201605_宋立恒_51cto_tsql_08_二二增刪改的Merge_2008
/*Merge语法是对插入，更新，删除这三个操作的合并。
根据与源表联接的结果，对目标表执行插入、更新或删除操作。
例如，根据在另一个表中找到的差异在一个表中插入、更新或删除行，
可以对两个表进行同步。 */
--创建一个临时的订单表
CREATE TABLE Orders_source(OrderID INT,CustomerID NCHAR(5))
 GO
--往这个表中添加两行记录
INSERT INTO Orders_source VALUES(1,N'AAAAA')
INSERT INTO Orders_source VALUES(2,N'BBBBB')
GO
--通过生成表查询，产生另外一个架构一模一样的表，但只是复制了第一行数据过去
SELECT * INTO Orders_target FROM Orders_source WHERE OrderID=1
INSERT INTO Orders_source VALUES(3,N'CCC')
GO
select * from orders_target
select * from orders_source
--将第二个表的数据进行更新
UPDATE orders_target SET CustomerID=N'DDDDD'
--合并两个表
MERGE Orders_target tgt  
USING Orders_source src  ON tgt.OrderID=src.OrderID
WHEN MATCHED     THEN UPDATE SET tgt.CustomerID=src.CustomerID
--如果匹配到了，就更新掉目标表
WHEN NOT MATCHED THEN INSERT VALUES(src.OrderID,src.CustomerID)
--如果匹配不到，就插入
WHEN NOT MATCHED BY SOURCE THEN DELETE;
--如果来源表无法匹配到，就删除
--创建并初始化源表
CREATE TABLE tbSource(	C1 INT PRIMARY KEY,	C2 NVARCHAR(10) )
INSERT tbSource VALUES(1,N'甲'),  (2,N'乙')
GO
--创建目标表和修改源表数据
SELECT * INTO tbTarget	FROM tbSource
--以下是对源表数据的修改
DELETE tbSource                 WHERE C1=1
UPDATE tbSource  SET C2=N'乙2'  WHERE C1=2
INSERT tbSource  VALUES(3,N'丙')
--使用Merge合并表
MERGE tbTarget t	USING tbSource s  ON t.c1 = S.c1
WHEN MATCHED     THEN UPDATE SET t.c2 = S.c2
WHEN NOT MATCHED THEN INSERT VALUES(c1, c2)
WHEN NOT MATCHED BY SOURCE THEN  DELETE
OUTPUT $action, INSERTED.c1 [New c1]     ,	
                INSERTED.c1 [Original c1],
                INSERTED.c2 [New c2],
                INSERTED.c2 [Original c2],
                DELETED.c1  [Original c1],
                DELETED.c2  [Original c2];
----------------------------------------------------------------------                
$action New c1 Original c1 New c2 Original c2 Original c1 Original c2
------------------------------------------------------- --------------
DELETE  NULL   NULL        NULL   NULL        1           甲
UPDATE  2      2           乙2    乙2         2           乙
INSERT  3      3           丙     丙          NULL        NULL
----------------------------------------------------------------------
create procedure up_test_merge @compno varchar(3)
as
begin
declare @compnm varchar(10)  set @compnm = 'MERGE'
merge casper.dbo.comp as t
using (select @compno , @compnm) as s (compno , compnm)
on(t.compno = s.compno)
when matched then  	   update set compnm = s.compnm
when not matched then insert (compno,compnm) values (s.compno,s.compnm);
end
