--201605_宋立恒_51cto_tsql_02_動態的TOP運用技巧_2008
/* 1、TOP 增强
可以指定一个数字表达式，以返回要通过查询影响的行数或百分比，
还可以根据情况使用变量或子查询。
可以在DELETE、UPDATE和INSERT查询中使用TOP选项。
   2、更好地替换SET ROWCOUNT选项，使之更为有效。
set rowcount的作用就是用来限定后面的sql在返回指定的行数之后便停止处理
set rowcount 10
select * from 表A
和 "select top 10 * from 表A" 的作用一样
sql 2000中select top 后面不能加参数，只能使用一个具体的int类型的数字。
如果我们想实现top后面跟参数的功能，就只有构造sql字符串，
然后使用exec来执行了，另外set rowcount的限定对修改，删除一样有效。
*/
CREATE TABLE toptest (column1 VARCHAR(150))
GO
INSERT INTO toptest VALUES('t1')
INSERT INTO toptest VALUES('t2')
INSERT INTO toptest VALUES('t3')
GO
CREATE TABLE toptest2 (column2 VARCHAR(150))
GO
INSERT INTO toptest2 VALUES('c1')
INSERT INTO toptest2 VALUES('c2')
--声明3个变量
DECLARE @a INT    DECLARE @b INT    DECLARE @c INT
--赋值
SET @a = 10       SET @b = 5        SELECT @c = @a/@b
--使用计算表达式
SELECT TOP(@c) * FROM toptest
--使用SELECT语句作为条件
SELECT TOP(SELECT COUNT(*) FROM toptest2) * 
FROM toptest
--指出top
DELETE TOP(2) toptest where column1>'t6'
--更新top
UPDATE TOP(2) toptest SET column1 = 'hi' where column1<='t4'
SELECT * FROM toptest
/*
---原標準用法----------------
1. 返回指定数目的行
TOP 用于指示从查询结果集返回指定数目的行。例如，返回前2行记录： 
SELECT TOP (2) ColumnA, ColumnB FROM Table1
2.返回指定百分比的行
　可以使用百分比，如果遇到百分比的计算结果不是整数，
　将向上舍入（即“进一法”，而不是“四舍五入”或“截尾取整”）。
　例如，返回前10%的行：
  SELECT TOP (10) PERCENT ColumnA, ColumnB FROM Table1
3.WITH TIES 参数
  在与ORDER BY 子句组合使用时，有时候会出现并列排名的情况，
  例如，返回前10名优秀成绩的学生，可能遇到多名学生并列第10名。
  此时需要指定 WITH TIES，以确保并列第10名的学生都被包含到结果集中，
  此时的结果集可能多于10行。示例：
SELECT TOP (10) WITH TIES ColumnA, ColumnB
FROM Table1
ORDER BY ColumnA DESC
*/