/*
OUTPUT
这种技术主要是用到了inserted和deleted虚拟表，这两张表相信大家都很熟悉。
以前我们主要是在触发器中使用。
Inserted和Deleted这两个表是逻辑表，并且这两个表是由系统管理的，
存储在内存中，不是存储在数据库中，因此，不允许用户直接对其修改。
这两个表的结构与被该触发器作用的表在相同的表结构。
这两个表是动态驻留在内存中的，当触发器工作完成，它们也被删除。

1、SQL Server 2005以后的版本引入一个新的OUTPUT子句，
以使您可以从修改语句(INSERT、UPDATE、DELETE)中将数据返回到表变量中。
2、新的OUTPUT子局的语法为：
OUTPUT <dml_select_list> INTO @table_variable
可以通过引用插入的表或删除的表来访问被修改的行的旧/新影象，
其方式与访问触发器类似。在INSERT语句中，只能访问插入的表。
在DELETE语句中，只能访问删除的表。在UPDATE语句中，
可以访问插入的表和删除的表。
*/
--代码演示
CREATE TABLE TestTB(
    [id]     [int] IDENTITY(1,1) PRIMARY KEY NOT NULL,
    Province Nvarchar(50) NULL,
    City     Nvarchar(50) NULL
)
--插入数据，并返回插入的数据：
INSERT INTO TestTB(Province,City)
output inserted.Province, inserted.City
VALUES('廣東','深圳')
--返回更新前和更新后的数据
UPDATE TestTB SET Province = '台灣',City='桃園'
OUTPUT '我來自(更新前)'+ DELETED.Province+DELETED.City as [Before] ,
       '我來自(更新后)'+ Inserted.Province+Inserted.City as [After]
WHERE id=1
GO 
CREATE TABLE tt 
(
  id INT IDENTITY, 
  c1 VARCHAR(15)
)
GO
INSERT INTO tt VALUES ('r1')
INSERT INTO tt VALUES ('r2')
INSERT INTO tt VALUES ('r5')
INSERT INTO tt VALUES ('r8')
--make a table variable to hold the results of the OUTPUT clause
--还可以将返回的结果保存在表变量中，这在删除数据，
并把删除的数据插入到历史表时很实用
DECLARE @del AS TABLE (deletedId INT, deletedValue VARCHAR(15))
DELETE  from tt
OUTPUT DELETED.id, DELETED.c1 INTO @del--這是關鍵，用INTO保存起來
WHERE id < 3
SELECT * FROM @del
GO