--201605_宋立恒_51cto_tsql_09_行列轉置Pivot與還原unpivot_2008
create table pud(
id int,name varchar(20),mm char(02),puamt int) 
insert into pud values(1,'PUA','01',1000)
insert into pud values(1,'PUA','02',2000)
insert into pud values(1,'PUA','03',4000)
--以前的做法
select id,name,
sum(case mm when '01' then puamt end) as "01月",
sum(case mm when '02' then puamt end) as "02月",
sum(case mm when '03' then puamt end) as "03月",
sum(case mm when '04' then puamt end) as "04月",
sum(case mm when '05' then puamt end) as "05月",
sum(case mm when '06' then puamt end) as "06月",
sum(case mm when '07' then puamt end) as "07月",
sum(case mm when '08' then puamt end) as "08月",
sum(case mm when '09' then puamt end) as "09月",
sum(case mm when '10' then puamt end) as '10月',
sum(case mm when '11' then puamt end) as '11月',
sum(case mm when '12' then puamt end) as '12月'
from pud group by id,name
--01到12個月
select id,name,
[01] as '01',[02] as '02',[03] as '03',[04] as '04',
[05] as '05',[06] as '06',[07] as '07',[08] as '08',
[09] as '09',[10] as '10',[11] as '11',[12] as '12'
from ( 
select id,name,mm,sum(puamt) as puamt from pud GROUP by id,name,mm 
) as grouptable  
pivot ( 
sum(puamt) 
for mm in ([01],[02],[03],[04],[05],[06],[07],[08],[09],[10],[11],[12])
) as pvt
--使用UNPIVOT
create table itio (yyyy int,pu int,sd int,mi int, mo int )
insert into itio values(2014,100 ,2000, 300,4000)
insert into itio values(2015,3000,3500,4200,5500)
insert into itio values(2016,300 , 350, 400, 500)
--
SELECT yyyy,iotype,cnt 
FROM itio 
UNPIVOT --使用UNPIVOT列转行
(   cnt  for iotype in ([pu],[sd],[mi],[mo]) ) as unpvt
go