--201605_宋立恒_51cto_tsql_05_TRY_AND_CATCHCTE_2008
/*
错误处理 Error Handling 
1、新的异常处理结构 
2、可以捕获和处理过去会导致批处理终止的错误。
前提是这些错误不会导致连接中断通常是严重程度为21以上的错误，
例如，表或数据库完整性可疑、硬件错误等等。）。 
3、TRY/CATCH 构造 
*/
USE demo
GO
--creating worktables

CREATE TABLE student
(	
	stuid int NOT NULL PRIMARY KEY,
        stuname varchar(50)
)
CREATE TABLE score 
(
	stuid int NOT NULL REFERENCES student(stuid),
        score int
)
GO

INSERT INTO student VALUES (101,'zhangsan') 
INSERT INTO student VALUES (102,'wangwu') 
INSERT INTO student VALUES (103,'lishi') 

--Invoking a run-time error
/*当 SET XACT_ABORT 为 ON 时，如果 Transact-SQL 语句产生运行时错误，
整个事务将终止并回滚。为 OFF 时，
只回滚产生错误的 Transact-SQL 语句，
而事务将继续进行处理。 默认是off*/
SET XACT_ABORT OFF
BEGIN TRAN
	INSERT INTO score  VALUES (101,90)
                   INSERT INTO score VALUES (102,78) 
	INSERT INTO score VALUES (107, 76) /* Foreign Key Error */ 
	INSERT INTO score VALUES (103,81) 
COMMIT TRAN
go
select * from student
select * from score

--Using the try..catch.. construct and invoking a run-time error
SET XACT_ABORT OFF

/*当 SET XACT_ABORT 为 ON 时，如果 Transact-SQL 语句产生运行时错误，
整个事务将终止并回滚。为 OFF 时，

只回滚产生错误的 Transact-SQL 语句，而事务将继续进行处理。 默认是off*/
BEGIN TRY
   BEGIN TRAN
	INSERT INTO score  VALUES (101,90)
 /* Foreign Key Error */ 
   COMMIT TRAN
	PRINT 'Transaction committed'
END TRY
BEGIN CATCH
	ROLLBACK
	PRINT 'Transaction rolled back'
        SELECT ERROR_NUMBER() AS ErrorNumber,
        ERROR_SEVERITY() AS ErrorSeverity,
        ERROR_STATE() as ErrorState,
        ERROR_MESSAGE() as ErrorMessage;
END CATCH
GO

SELECT * FROM score
GO
SQL SERVER2012实现了类似C#抛出异常的Throw语句。
相比较于SQL Server2005之前使用@@ERROR,和SQL Server2005之后使用RAISERROR()
引发异常都是一个不小的进步，

下面来看一下Throw的用法。

RAISERROR和THROW比较

在SQL Server2005/2008中，使用RAISERROR和TRY…CATCH语句来抛出异常
相比较根据@@ERROR进行判断来讲已经进步了很多。

但是使用RAISERROR有一个非常不好的一点是无法返回真正出错的行数。
而使用SQL SERVER2012新增的THROW语句，
则变得简单很多。
并且能正确返回出错的行，对于比较长的T-SQL语句来说，
这节省了不少时间，
我们也可以为THROW语句指定参数来返回自定义错误信息，
但不能再标识出正确的错误行。

小结

因此使用THROW语句可以带来如下好处
1.更简洁优雅的代码
2.可以正确的标识出出错的行数，对于大量T-SQL来说，这点可以节省不少时间
