/*
SequenceNumber是SQL Server2012推出的一个新特性。
这个特性允许数据库级别的序列号在多表或多列之间共享。
对于某些场景会非常有用，比如，你需要在多个表之间公用一个流水号。
SequenceNumber的基本概念
SequenceNumber的概念并不是一个新概念，Oracle早就已经实现了。
与以往的Identity列不同的是。SequenceNumber是一个与构架绑定的数据库级别的对象，
而不是与具体的表的具体列所绑定。这意味着SequenceNumber带来多表之间共享序列号
的遍历之外，还会带来如下不利影响:
?    与Identity列不同的是，Sequence插入表中的序列号可以被Update,除非通过触发器来进行保护
?    与Identity列不同，Sequence有可能插入重复值（对于循环SequenceNumber来说）
?     Sequence仅仅负责产生序列号，并不负责控制如何使用序列号，
因此当生成一个序列号被Rollback之后，Sequence会继续生成下一个号，
从而在序列号之间产生间隙。

*/

使用SQL创建序列对象：

 

IF EXISTS (SELECT * FROM sys.sequences WHERE name=N'TestSequence')

DROP SEQUENCE TestSequence;

 GO

 

--创建序列对象 

 CREATE SEQUENCE TestSequence AS  tint

START WITH 1

INCREMENT BY 1;

 GO

 --
select name,type_desc,start_value,increment,minimum_value,maximum_value,current_value,is_cached from master.sys.sequences

--创建表

 CREATE TABLE TEST

(ID  int,Name varchar(150))

 

--产生序列号码并插入表中

INSERT INTO TEST (ID,Name) VALUES (NEXT VALUE FOR TestSequence,'alex')

INSERT INTO TEST (ID,Name) VALUES (NEXT VALUE FOR TestSequence,'kevin')

 

SELECT * FROM TEST
  

--产生序列可以重复使用，下面的例子当序列号码超过255后又重新从0开始。

 

CREATE SEQUENCE [dbo].[Test1Seq]

 AS [ int]

START WITH 0

INCREMENT BY 5

CYCLE

  
SELECT  NEXT VALUE FOR [Test1Seq]

 GO 110
  

--重新将序列初始值变为5

ALTER SEQUENCE  dbo.Test1Seq  RESTART WITH 5
go

 

SELECT * FROM sys.sequences where name='Test1Seq'
  



--共享序列，两个表可以使用同一个序列对象（Identity列是不可以的） 

CREATE SEQUENCE dbo.Seq  AS INT

 START WITH 1

 INCREMENT BY 1
go

CREATE TABLE dbo.Examp1

 (

 Seq INT NOT NULL,

 Name VARCHAR(50) NOT NULL

 );

 

CREATE TABLE dbo.Examp2

 (

 Seq INT NOT NULL,

 Name VARCHAR(50) NOT NULL 

 );

 

INSERT INTO dbo.Examp1(Seq,Name)VALUES(NEXT VALUE FOR dbo.Seq,'Tom');

 INSERT INTO dbo.Examp2(Seq,Name)VALUES(NEXT VALUE FOR dbo.Seq,'Jerry');

 

SELECT * FROM Examp1

 SELECT * FROM Examp2
  

  

--可以直接在查询中使用序列对象（Identity列是不可以的）

CREATE SEQUENCE SeqOrder AS  tinyint

START WITH1

INCREMENT BY 1

MINVALUE 1

NO MAXVALUE

CYCLE;

 GO
create table #test
( 
id int
)
go

begin tran
inset into #test(id) values （next value for  dbo.seqorder)
rollback
select next value for dbo.seqorder

SELECT ID,Name,

NEXT  VALUE FOR SeqOrder OVER (ORDER BY Name DESC) As [Order]

FROM test;

/* 
为了提升性能，还可以使用CACHE选项，这样就可以将序列号码缓存到内存，
减少IO操作,值得一提的是序列对象可以指定最大值和最小值，
增加值可以为负数。
*/